---
title: 'Resume'
tags: ['intro','page']
collection: pages
---

script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')

a(href='../../assets/Devon_Zuegel--Resume.pages.pdf').pull-right
  button(type='button' class='btn btn-default btn-sm')
    | PDF

h1 #{document.title}

p.smaller
  | #{general.school} #{general.class_yr} // 
  | #{general.major.degree} in #{general.major.dept}, Minor in #{general.minor.dept} // 
  | #{general.gpa} GPA

.row
  .col-sm-8
    h2 Employment Experience
    each e, i in employment_exp
      h3.block 
        .block #{e.employer} 
        a.light(href=e.website) #{e.title[0]}
      .block.time #{e.dates.start} - #{e.dates.end}
      .space
      ul
        each bp in e.bullet_pts
          li.smaller #{bp}

    h2 Open Source Projects
    each p in projects
      if p.include
        h3: a(href=p.website) #{p.name}
        .block.time #{p.dates.start} - #{p.dates.end}
        .space
        ul
          each bp in p.bullet_pts
            li.smaller #{bp}

  .col-sm-4
    h2 Skills
    ul
      each category in skills
        each skill in category
          if skill.include === true
            li.no_bullet #{skill.name}

    h2 Languages
    ul
      each lang in languages
        li.no_bullet #{lang.name}
          span.level #{lang.level}

    h2 Hobbies
    ul
      each h in hobbies
        li.no_bullet #{h}



